@page "/cities"
@using MSC.BlazXam.BizLogic
@using MSC.BlazXam.Models

<h1>Cities</h1>

@if (cities == null)
{
    <p><em>Loading...</em></p>
}
else if (!cities.Any())
{
    <p>
        <em>Error... try again later!</em>
        <em>(Free key is limited to 50 calls per day)</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Country</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city.EnglishName</td>
                    <td>@city.Country.EnglishName</td>
                    <td>@String.Format("{0:n0}", city.Details.Population)</td>
                    <!--<td><button>Current Weather Conditions</button></td>-->
                    <td><a href="/currentweather/@city.Key/@city.EnglishName/@city.Country.EnglishName">Current Weather Conditions</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    AccuWeatherTopCitiesModel[] cities;

    protected override async Task OnInitializedAsync()
    {
        cities = (await HTTPClientService.GetAccuWeatherTopCitiesDataAsync()).ToArray<AccuWeatherTopCitiesModel>();
    }
}
